*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
    color:var(--cor-principal-texto);
}


body{
    background: var(--background-principal) no-repeat center top/cover;

    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
}

:root{
    --background-principal:url(Fotos/bg-mobile.jpg);
    --cor-principal-texto: white;
    
    --background-lua-sol: url(./Fotos/MoonStars.svg);

    --background-botoes: rgba(128, 128, 128, 0.226);
    --border-botoes: gray;
    --background-botoes-hover:rgba(128, 128, 128, 0.089);
    --border-botoes-hover: white;
    
    --sociallinks-hover: gray;
}

.light{
    --background-principal:url(Fotos/bg-mobile-light.jpg);
    --cor-principal-texto: black;
   
    --background-lua-sol: url(./Fotos/Sun.svg);
   
    --background-botoes: rgba(128, 128, 128, 0.226);
    --border-botoes: gray;
    --background-botoes-hover:rgba(128, 128, 128, 0.089);
    --border-botoes-hover: black;
   
    --sociallinks-hover: rgba(128, 128, 128, 0.301);
}

#container{
    width:100%;
    max-width: 588px;
    margin: 56px auto;
}

/*profile*/

#profile{
    padding:24px;
    text-align: center;
}

#profile img{
    width:112px;
    margin:0 0 8px;
}
/*switch*/

#switch{
    display: flex;
    width: 64px;
    margin: 8px auto;

    position: relative;
}

#switch button{
    display: flex;
    padding:10px;

    width:32px;
    height:32px;

    border:0;
    border-radius:50%;

    background:  white var(--background-lua-sol) no-repeat center;

    position: absolute;

    top:50%;
    transform: translateY(-50%);
}

.light #switch button{
    right:0;
    left:initial;
}

#switch span{
    display: flex;
    width:64px;
    height:24px;

    background: rgba(128, 128, 128, 0.185);

    border:1px solid gray;
    border-radius: 9999px;
}

/*botoes*/
ul{
    display: flex;
    flex-direction:column;
    gap: 16px;
    margin:24px;
    list-style:none;
}

ul li a{
    display: flex;
    text-decoration:none;
    justify-content: center;

    padding:16px 24px;

    background: var(--background-botoes);

    border:1px solid var(--border-botoes);
    border-radius:8px;
}

ul li a:hover{
    background: var(--background-botoes-hover);

    border:1px solid var(--border-botoes-hover);

    transition: 1s;
}
/*social links*/
#social-links{
    display: flex;
    gap:16px;

    text-align: center;
    justify-content: center;

    padding:24px;
}

#social-links a{
    display: flex;
    font-size: 21px;

    padding:10px;

    border-radius: 9999px;
}

#social-links a:hover{
    background:  var(--sociallinks-hover);

    transition: 1s;
}
/*footer*/
footer{
    padding:24px;
    text-align: center;
}
